.pagination >li >a.pagination-link {
    margin: 0px 3px;
    background-color: #f9f9f9;
    border: 1px solid #bababa;
    font-weight: bold;
    color: #717171;
    border-radius: 2px;
}
.pagination >li >a.pagination-link.pagination-link-active {
    background-color: #676767;
    border: 1px solid #515151;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: center;
}
