.payments-table {
    color: #717171;
    border: 1px solid #cbcfd1;
    border-radius: 5px;
}

.payments-table>thead>tr {
    height: 60px;
    background-color: #e5e7e8;
}

.payments-table.table>thead>tr>th {
    vertical-align: middle;
}

.payments-table.table tr>td, tr>th {
    border: 1px solid #e0e0e0;
    text-align: center;
}
.payments-table.table tr>td:first-child, thead>tr>th:first-child{
    padding-left: 30px;
    text-align: left;
}

.pound {
    height: 26px;
}
