.searchBlock >div {
    padding-left: 1%;
    padding-right: 1%;
}

.searchBlock >div:last-child {
    display: flex;  
}

.searchInput {
    width: 100%;
}

.select-container {
    min-width: 160px;
    padding: 4px;
    height: 30px;
    border-radius: 3px;
    background-color: #e9ebec;
}

.searchBlockContainer input[type="text"] {
    height: 30px;
    padding: 7px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    font-size: 11px;
}

.searchBlockContainer select {
    width: 100%;
    height: 16px;
    font-size: 9px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    background: #ffffff;
    color: black;
    padding: 0px 10px;
    background: -webkit-repeating-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ededed 100%);
    background: -o-repeating-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ededed 100%);
    background: -moz-repeating-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ededed 100%);
    background: repeating-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ededed 100%);
}

.button {
    border-radius: 3px;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 80px;
    margin-left: 10px;
}

.searchButton {
    color: #ffffff;
    background: #609cf2;
    background: -webkit-linear-gradient(#609cf2, #006eef);
    background: -o-linear-gradient(#609cf2, #006eef);
    background: -moz-linear-gradient(#609cf2, #006eef);
    background: linear-gradient(#609cf2, #006eef);
}

.resetButton {
    color: #4a4a4a;
    background: #f2f2f2;
    background: -webkit-linear-gradient(#f2f2f2, #c3c3c3);
    background: -o-linear-gradient(#f2f2f2, #c3c3c3);
    background: -moz-linear-gradient(#f2f2f2, #c3c3c3);
    background: linear-gradient(#f2f2f2, #c3c3c3);
}
